@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@layer base {
  html,
  body {
    font-family: 'Shadows Into Light', cursive;
    background-color: #79031d;
  }
  p {
    font-family: Open Sans, sans-serif;
  }
  .logo {
    font-family: 'Shadows Into Light', cursive;
  }
}
.tag {
  @apply pt-1 px-1.5 pb-1.5 rounded-sm;
}
.tag-sm {
  @apply text-xs inline-block tracking-wider font-normal;
}
.tag-other {
  @apply bg-secondary text-black;
}
